h1 #{settings.websiteTitle}

p #{settings.websiteSubTitle}

if user
  | Logged in as: #{user.type}
  a.btn.btn-default(href='/logout')
    | logout
  if user.type == 'Admin'
    br
    a.btn.btn-primary.action(href='/')
      i.fa.fa-home
      | Home
    a.btn.btn-primary.action(href='/manage-projects')
      i.fa.fa-folder
      | Manage projects
    a.btn.btn-primary.action(href='/settings')
      i.fa.fa-cogs
      | Settings
else
  a.btn.btn-default(href='/login')
    | login
br
