html
  include ./includes/head.jade

  body
    div.container
      div.jumbotron
        include ./includes/top.jade

        if projects.length == 0
          | There is no project yet
        else
          - each project in projects
            button.btn.btn-default.project(href=project.url, target="_blank")
              = project.name

    script(src="/scripts/script.js")
