html
  include ./includes/head.jade

  body
    div.container
      div.jumbotron
        include ./includes/top.jade

        if message
          = message

        div.table-responsive
          table.table.table-striped
            thead
              tr 
                th name
                th url
                th command
                th actions
            tbody
            - each project in projects
              tr
                td
                  = project.name
                td
                  = project.url
                td
                  = project.command
                td
                  a.btn.btn-danger.btn-sm.table-action(href='/remove-project?name=#{encodeURIComponent(project.name)}&url=#{encodeURIComponent(project.url)}&command=#{encodeURIComponent(project.command)}')
                    i.fa.fa-times
                    | Remove project

        h3 Add a project

        form(name="add-project" action="/add-project", method="post")
          div.form-group
            label(for="name") Name
            input.form-control(type="text", name="name", id="name" required)
          div.form-group
            label(for="url") Url
            input.form-control(type="text", name="url", id="url" required)
          div.form-group
            label(for="command") Command
            input.form-control(type="text", name="command", id="command" required)
          input.btn.btn-default(type="submit" value="Submit")

    script(src="/scripts/script.js")
